.btns {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--primary-light);
  color: var(--primary-color);
  border-radius: 6px;
  button {
    color: var(--primary-color);
  }
  button:nth-child(1) {
    border-radius: 6px 0 0 6px;
  }
  button:last-child {
    border-radius: 0 6px 6px 0;
  }
}
.card {
  border-radius: 12px !important; 
}
